---
import Counter from '../components/Counter.jsx';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Astro App</title>
	</head>
	<body>
		<h1>Hello from Astro</h1>
		<Counter client:load />
	</body>
</html>
